.connect-wallet-button {
  cursor: pointer;
  padding: var(--space-3) var(--space-5);
  height: 42px;
  border: 1px solid var(--color-dark-blue);
  background-color: transparent;
  box-shadow: none;
  transition: all 0.2s ease;
  border-radius: var(--radius-4);

  &:hover {
    border-color: var(--color-text);
  }

  > span {
    font-size: var(--font-size-3);
    font-weight: 900;
    line-height: var(--font-size-3);
    background: var(--color-gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
