:root {
  --color-page-background: #00061a !important;
  --color-text: #848fab;
  --color-text-2: #3b4255;
  --color-white: #ffffff;
  --color-red: #992500;
  --color-dark-blue: #1c2c53;
  --color-dark-blue-2: #192238;
  --color-box: #101729;
  --color-green: #009166;
  --color-gradient-1: linear-gradient(90deg, #88b7ff 0%, #ff602e 100%);
  --color-gradient-2: linear-gradient(70deg, rgba(118, 173, 255, 0.13) 58.2%, rgba(217, 73, 81, 0.46) 85.6%);
  --color-gradient-3: linear-gradient(180deg, rgba(118, 173, 255, 0.13) 0%, rgba(217, 73, 81, 0.46) 100%);
  --toastify-color-dark: #101729;
  --toastify-color-success: #009166;
}

.radix-themes {
  --default-font-family: 'Nunito Sans', sans-serif;
  --default-font-size: 16px;
}

.pg-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.pg-inner {
  padding: 0 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .pg-inner {
    padding: 0 32px;
  }
}

.text-white {
  color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 24px;
}
.head-3 {
  font-size: 24px;
}

.text-11 {
  font-size: 11px;
}
.text-12 {
  font-size: 12px;
}

/* FLEX CSS */
.flex {
  display: flex;
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}

.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}

/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

/* Fade In Up Effect */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
