.swap-wrapper__estimated-fee {
  height: 20px;

  span {
    font-size: var(--font-size-1);
    color: var(--color-text);
  }
  @media (min-width: 768px) {
    span {
      font-size: var(--font-size-3);
    }
  }
}
