.token-list-modal {
  --token-list-modal-height: 680px;
  height: var(--token-list-modal-height);

  .token-list__inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }

  .token-list__search {
    background-color: var(--color-page-background);
    border: 1px solid var(--color-text-2);
    border-radius: var(--radius-3);
    display: flex;
    justify-content: center;
    height: 40px;

    > .token-list__search-icon {
      padding: 0px var(--space-3);
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        width: 16px;
        height: 16px;
      }
    }

    input {
      flex: 1;
      background: transparent;
      outline: 0;
      border: 0;
      font-size: var(--font-size-3);
      color: var(--color-text);
      padding-right: var(--space-2);
    }

    input::placeholder {
      color: var(--color-text-2);
    }
  }

  .token-list__featured-tokens {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    flex-wrap: wrap;

    .featured-tokens__item {
      padding: var(--space-2) var(--space-3);
      border: 1px solid var(--color-text-2);
      border-radius: var(--radius-3);
      display: flex;
      align-items: center;
      gap: var(--space-2);
      cursor: pointer;

      .featured-tokens__token-logo {
        width: 24px;
        height: 24px;
      }

      > span {
        color: var(--color-white);
        font-size: var(--font-size-3);
        font-style: normal;
        font-weight: var(--font-weight-bold);
      }
    }
  }

  .ScrollAreaRoot {
    height: calc(var(--token-list-modal-height) - 185px - 50px);
  }

  .token-list__tokens {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-2) 0px;
  }
}
