.swap-button {
  .wallet-adapter-button-trigger,
  .custom-button {
    height: 54px !important;
    width: 100% !important;
    background-color: var(--color-page-background) !important;

    span {
      font-size: var(--font-size-5) !important;
    }
  }
}
