.custom-button {
  cursor: pointer;
  padding: var(--space-3) var(--space-5);
  height: 42px;
  border: 1px solid var(--color-dark-blue);
  background-color: transparent;
  box-shadow: none;
  transition: all 0.2s ease;
  border-radius: var(--radius-4);

  &:hover {
    border-color: var(--color-text);
  }

  .custome-button__inner {
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }

  span {
    font-size: var(--font-size-3);
    font-weight: 900;
    background: var(--color-gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--disabled {
    cursor: not-allowed;
    span {
      font-size: var(--font-size-3);
      font-weight: 900;
      background: var(--color-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
